.footer {
  background: #a2b1da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  &-logo {
    font-style: normal;
    font-weight: 500;
    font-size: 56px; 
    padding: 15px;   
    padding-bottom: 5px;
  }
  &-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    padding: 10px;
  }
}
