@import '../../scss/_variables.scss';
.main-card {
  background: $white;
  border-radius: 34px;
  max-width: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;
  cursor: pointer;
  color:$white ;
  &:hover{
    transition: 0.4s;
    transform: scale(1.1);
  }
  &-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-top: 30px;
    color: $black;
  }
  img{
    max-width: 100%;
      padding: 20px 20px;
      padding-bottom: 50px;
  }
}
@media (max-width:1480px) {
  .main{
    &-card{ 
      justify-self: center;
    }
  }
}